<style>
    @media all and (min-width: 0px) and (max-width: 600px) {
        .responsive {
            width: calc(100vw - 30px)
        }
    }

    @media all and (min-width: 0px) and (max-width: 590px) {
        .responsive {
            margin-top: calc(100vh / 4) !important;
        }
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 99999999;
        background-repeat: no-repeat;
        background-image: none;
        background-color: #181a1b;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #scroll {
        height: 100% !important;
        /* overflow: hidden; */
    }

    .wrappers {
        transform: scale(1.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .spinner * {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: <%=themeConfig.information.mainColor %>;
        border-radius: 1rem;
        margin: 0 0.2rem;
    }

    .spinner .spinner-1 {
        animation: fade 1.1s ease-in-out 0.18s infinite both;
    }

    .spinner .spinner-2 {
        animation: fade 1.1s ease-in-out 0.36s infinite both;
    }

    .spinner .spinner-3 {
        animation: fade 1.1s ease-in-out 0.54s infinite both;
    }

    @keyframes fade {
        0% {
            opacity: 0.35;
            transform: scale(0.87);
        }

        37.5% {
            opacity: 1;
            transform: scale(1);
        }

        75% {
            opacity: 0.35;
            transform: scale(0.87);
        }

        100% {
            opacity: 0.35;
            transform: scale(0.87);
        }
    }
</style>

<div class="preloader">
    <div class="wrappers">
        <% if (themeConfig.information?.preloader) { %><div><h3><%- themeConfig.information?.preloader  %></h3></div> <% } %>
        <div class="spinner">
            <div class="spinner-1"></div>
            <div class="spinner-2"></div>
            <div class="spinner-3"></div>
        </div>
    </div>
</div>