<style>
    @media all and (min-width: 0px) and (max-width: 600px) {
        .responsive {
            width: calc(100vw - 30px)
        }
    }

    @media all and (min-width: 0px) and (max-width: 590px) {
        .responsive {
            margin-top: calc(100vh / 4) !important;
        }
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 99999999;
        background-repeat: no-repeat;
        background-image: none;
        background-color: #181a1b;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 170px;
    }

    #scroll {
        height: 100% !important;
        /* overflow: hidden; */
    }

    .spinner-border {
        color: <%= themeConfig.information.mainColor %> !important;
    }
</style>

<div class="preloader">
    <br>
    <div style="text-align: center;">
        <h1 class="font-weight-bolder text-primary" style="color: <%= themeConfig.information.mainColor %> !important;"><%- themeConfig.information.preloader || "Looading Dashboard" %></h1>
        <div style="transform: scale(3); padding-top: 30px;">
            <div style="text-align: center; " class="spinner-border"
                 role="status">
                <span class="visually-hidden"> </span>
            </div>
        </div>
    </div>
</div>