.card {
    border-radius: 15px !important;
    background-color: rgb(24, 26, 27) !important;
}

.content {
    background-color: rgb(32, 34, 36) !important;
}

.stats {
    color: #9A9A9A !important; 
}

.card-title {
    color: rgb(199, 196, 196);
}

.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: rgb(24, 26, 27);
}

.sidebar .nav li.active>a, .off-canvas-sidebar .nav li.active>a {
    background-color: rgb(32, 34, 36);
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}

.round {
    border-radius: 15px !important;
}

.greyey {
    color: #9A9A9A;
}

.footer {
    background-color: rgb(24, 26, 27) !important;
    color: rgb(199, 196, 196);
}

.bluey {
    color: #2CA8FF !important;
}

td {
    color: #9A9A9A;
}

code {
    padding: .2rem .4rem;
    font-size: 90%;
    background-color: rgb(45, 48, 49);
    border-radius: .25rem;
}

:root {
    color-scheme: dark;
}

.hidden {
    display: none;
}

.main-panel>.content {
    padding: 0 30px 30px !important;
    min-height: calc(100vh - 179px) !important;
    margin-top: -30px !important;
}

.sidebar .nav li>a, .off-canvas-sidebar .nav li>a {
    border-radius: 10px;
}

.bottomsidebar {
    position: absolute;
    bottom: 0;
}

.asidebar {
    width: 230px;
}

input {
    border-radius: 15px !important;
}

textarea {
    border-radius: 15px !important;
}

select {
    border-radius: 15px !important;
}

input, textarea, select{
    background-color: #101112 !important;
    border: none;
    border-radius: 5px !important;
}

.swal2-popup.swal2-toast {
    background-image: initial !important;
    background-color: rgb(24, 26, 27) !important;
    box-shadow: rgb(0 0 0 / 7%) 0px 0px 1px, rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 1px 2px 4px, rgb(0 0 0 / 7%) 1px 3px 8px, rgb(0 0 0 / 7%) 2px 4px 16px !important;
}

.swal2-title {
    color: #d1d1d1 !important;
}

.btn.btn-primary {
    border-radius: 15px !important;
}

.swal2-popup {
    background: rgb(24, 26, 27) !important;
}

.swal2-footer {
    text-align: center;
}
.swal2-footer {
    justify-content: center;
    margin: 1em 0 0;
    padding: 1em 1em 0;
    border-top: 1px solid #545454 !important;
    color: #545454;
    font-size: 1em;
}

.swal2-popup.swal2-modal.swal2-icon-error.swal2-show {
    border-radius: 15px;
}

